.manrope-font{
  font-family: "Manrope", sans-serif;
 
}
/* 
<!-- <div class="meet-card bg-white rounded-lg p-6 w-[395px] relative">
    <p class="text-[#777777]">We are providing the best and suitable home insurance services for the people who are interested to treatment

    </p>
    <h2 class="text-xl font-semibold">Ilham Yuda</h2>
    <h3 class="text-[#777777]">Businessman</h3>
    <div class="absolute -left-[30px] -top-[25px] bg-white p-1 rounded-full">
    <img src="./images/client.png" alt="">
    </div>
    <!-- <img src="./images/circles.png" alt="" class="absolute right-4 bottom-6"> -->
    </div>  -->
*/